﻿@{
    ViewData["Title"]="Home Page";
}
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <style>
                body{
                    background-color: black;
                    background-image: url("show.png");

                }
                
                .name{
                    width: auto;
                    background-color:black;
                    text-align: left;
                    color: white;
                    font-family: "Sofia", sans-serif;
                    font-size: 50px;
                }
                .container{
                    width: 100%;
                    display: flex;
                    margin: 10px;
                    flex-wrap: wrap;
                }
                .item{
                    color:white;
                    margin: 10px;
                }
                .bio{
                    color:white;
                    font-family: "Trirong", serif;
                    font-size: 30px;
                }
                .bio1{
                    color:white;
                    font-size: 15px;
                    line-height: 9px;
                }
                .birtyear {
                    display: flex;
                }
                .seeyear{
                    display: flex;
                }
                .high{
                    display: flex;
                }
                .bachelor{
                    display: flex;
                }
                .by{
                    margin-left: 160px;
                    font-size: 15px;
                }
            </style>
        </head>
        <body>
            <div class="name"> 
                 Prabesh Tamang 
            </div>
          <div class="container">
            <div class="item">
            </div>
            <div class="bio">Short Biography <hr> 
            <div class="bio1">
               <p>Hi i am Prabesh Tamang. I am Computer Science Student</p>  
               <p>Hi i am Prabesh Tamang. I am Computer Science Student</p>  
               <p>Hi i am Prabesh Tamang. I am Computer Science Student</p>  

            </div>
            <hr>
            <div class="bio2">
                <div class="birtyear">2001 
                    <div class="by"> Date of BIrth </div>
                      </div>
                <hr>
                <div class="seeyear">2017
                    <div class="by">Passing SEE Exam

                    </div>
                </div>
                <hr>
                <div class="high">2019
                    <div class="by">Passing +2 Exam </div>
                </div>
                <hr>
                <div class="bachelor">2020
                    <div class="by">Join Bachelor in BSc.CSIT </div>
                </div>
            </div>
            
            </div>
            <div class="item">one</div>
            <div class="item">one</div>

          </div>


        </body>
</html>